.contenedor1_calcu{
    width: 375px;
    height: 667px;
    background: rgb(91,188,255);
    background: linear-gradient(0deg, rgba(91,188,255,0.7287289915966386) 13%, rgba(48,255,0,0.30575980392156865) 100%);
}
.section-test{
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column; 
    margin: auto;
    margin-top: 0rem;
    background: rgb(91,188,255);
    background: linear-gradient(0deg, rgba(91,188,255,0.7287289915966386) 13%, rgba(48,255,0,0.30575980392156865) 100%);
}
.test-img{
    display: block;
    width: 100%;
    height: 17.9rem;
    background-image: url(../img/testimcimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0rem;
}
.test-contenido{
    width: 100%;
    height: auto;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -2rem;
    border-radius: 3rem;
    padding: 2rem;
}
/*FORMULARIO 1 PREGUNTA*/
.formulario-nombre{
    
}

label h2{
    font-size: var(--parrafo);
    color: var(--gris-oscuro);
    margin-top: 5.8rem;
    margin-left: 1.7rem;
}
input{
    width: 90%;
    height: 3.5rem;
    display: flex;
    margin: auto;
    margin-top: 1.7rem;
    padding: 1rem;
    background-color: var(--verde-claro2);
    outline: none;
    border: 0;
}
.formulario-nombre img{
    width: 85%;
    display: block;
    float: right;
}
.boton{
    display: block;
    width: 13.9rem;
    height: 3.2rem;
    background-color: var(--verde-oscuro);
    border-radius: 2.1rem;
    border: none;
    margin: auto;
    float: right;
    cursor: pointer;
    
}
.boton h2{
    color: var(--blanco);
    text-align: center;
    font-size: var(--h2);
    
}
/*FORMULARIO 2 PREGUNTA*/
.formulario-imc{
    display: none;
}
.peso{
    margin-top: 1rem;
}
.caja-botones{
    width: 90%;
    height: 5rem;
    display: flex;
    margin: auto;
    margin-top: 9.9rem;
    justify-content: space-between;
    align-items: center;
    
}
button{
    display: block;
    width: 12rem;
    height: 4rem;
    background-color: var(--verde-oscuro);
    border-radius: 2.1rem;
    border: none;
    cursor: pointer;
}
.btn-anterior{
    display: block;
    width: 12rem;
    height: 4rem;
    background-color: var(--verde-oscuro);
    border-radius: 2.1rem;
    border: none;
    cursor: pointer;
}
button h2{
    color: var(--blanco);
    text-align: center;
    font-size: var(--h2);   
}
.activarCaja{
    display: block;
}
.desactivarCaja{
    display: none;
}





.section-nutricion-start{
    width: 32rem;
    max-width: 41.4rem;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
}
.nutricion-start{ 
    max-width: 28.6rem;
    margin: auto; 
    background-color: var(--blanco);

}
.caja-img-logo img{
    display: block;
    margin: auto;
    width: 8.6rem;
    
}
.section-start-titulo{
    font-size: var(--h1);
    color: var(--gris-oscuro);
    text-align: center;
    line-height: 3rem;
   
}
.section-start-subtitulo{
    font-size: var(--h2);
    color: var(--gris-oscuro);
    margin-top: 0.5rem;
    text-align: center;
    line-height: 2rem;
}
.caja-img-gif img{
    width: 25.1rem;
    display: block;
    margin: auto;
}
.boton{
    display: block;
    width: 13.9rem;
    height: 3.9rem;
    background-color: var(--verde-oscuro);
    border-radius: 2.1rem;
    text-decoration: none;
    margin: auto;
    margin-top: 0.8rem;
    
}
.boton p{
    color: var(--blanco);
    text-align: center;
    font-size: var(--h2);
    padding-top:0.7rem;
    font-weight:600;
}



.cajaResultados{ 
    display: none;
}
.cajaResultados img{
    display: block;
    margin: auto;
    width: 8.6rem; 
}
.respuesta{
    width: 25rem;
    height: auto;
    margin: auto;
    padding: 0.3rem;
    box-sizing: border-box;    
}
.respuesta h1{
    font-size: var(--h1);
    text-align: center;
    color: var(--gris-oscuro);
}
.respuesta h2{
    font-size: var(--parrafo); 
    text-align: center;
    color: var(--gris-oscuro);
    margin-top: 1rem;
    margin-left: 0rem;  
}
.respuesta:empty{
    display: none;
}
.bajoPeso, .pesoIdeal, .sobrePeso, .obesidad{
    width: 100%;
    height: auto;
    margin: auto; 
    margin-top: 3rem;
    display: none;

}
.alimentacion{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: gray;
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
}
.act-fisica, .img-tabla{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 2rem;
    background-color: var(--gris-claro);
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;

}
.alimentacion p, .act-fisica p{
    color: var(--gris-oscuro);
    font-size: var(--parrafo);
    text-align:justify;
    margin-top: 0.3rem;
    
}
.alimentacion h1, .act-fisica h1, .img-tabla h1{
    font-size: var(--h1);
    color: var(--gris-oscuro); 
}
.img-tabla img{
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 2rem;
}
.recomendacion img{
    width: 100%;
    margin: auto;
    margin-top: 5rem;
}
.boton-finalizar{
    display: block;
    margin: auto;
    margin-top: 7rem;
    width: 13.4rem;
    height: 3.2rem;
    background-color: green;
    border-radius: 2.1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.boton-finalizar h2{
    color: var(--blanco);
    text-align: center;
    font-size: var(--h2);   
    padding-top:0.5rem;
}
.activarCaja{
    display: block;
}
.desactivarCaja{
    display: none;
}